.card-weather-title {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 16px;
    text-align: center;
}

.card-minmax {
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: 30px;
    margin-top: 10px;
}

.card-min {
    position: relative;
}

.card-min::after, .card-min::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.card-min::after {
    content: 'Min';
    color: #26de7f;
    font-size: 22px;
    bottom: -30px;
}

.card-min::before {
    content: "";
    width: 20px;
    height: 10px;
    background: #26de7f;
    top: -10px;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.card-max {
    position: relative;
}

.card-max::after, .card-max::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.card-max::after {
    content: 'Max';
    color: #ff0001;
    font-size: 22px;
    bottom: -30px;
}

.card-max::before {
    content: "";
    width: 20px;
    height: 10px;
    background: #ff0001;
    top: -10px;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}
